{% extends 'base.html' %} {% block content %}
<div class="container">
	<div class="card background-grey">
		<div class="row no-gutters">
			<div class="col-md-6">
				<img src="/media/images/contact/logoconnectorshop.jpg" class="card-img" alt="..." />
			</div>
			<div class="col-md-6">
				<div class="card-body">
					<h5 class="card-title">CONNECTOR SHOP</h5>
					<p class="card-text text-white2">Bienvenido a nuestra tienda en línea de productos electrónicos y tecnología de última generación. Aquí encontrarás una amplia variedad de productos de marcas reconocidas y de alta calidad, como smartphones, tablets, laptops, televisores, altavoces inteligentes, dispositivos de realidad virtual, consolas de videojuegos y mucho más.</p>
					<hr />
					<h6 class="card-subtitle mb-2 text-muted">Nosotros</h6>
					<p class="card-text text-white2">Además de ser una tienda en línea, también nos enfocamos en ser un blog de opiniones y reseñas de productos electrónicos. En nuestro blog, encontrarás artículos escritos por expertos en tecnología que comparten sus opiniones, experiencias y recomendaciones sobre los productos más recientes y populares del mercado. También te brindamos guías de compra, comparativas y tutoriales para que puedas tomar decisiones informadas al momento de adquirir un producto.</p>
					<hr />
					<h6 class="card-subtitle mb-2 text-muted">Gracias</h6>
					<p class="card-text text-white2">Únete a nuestra comunidad tecnológica y disfruta de la mejor selección de productos electrónicos y opiniones en un solo lugar.</p>
				</div>
			</div>
		</div>
        <div class="row no-gutters">
            <div class="col-md-6">
				<div class="card-body">
					<h5 class="card-title">Julio Alarcón Caballero</h5>
					<p class="card-text text-white2">Hola a todos, mi nombre es Julio Alarcón Caballero y estoy muy emocionado de presentarles la página web que he creado utilizando Python y Django.</p>
					<hr />
					<h6 class="card-subtitle mb-2 text-muted">Inicios</h6>
					<p class="card-text text-white2">Desde muy joven siempre he estado interesado en la tecnología y cómo esta puede mejorar nuestras vidas. Después de aprender programación, decidí que quería utilizar mis habilidades para crear una plataforma en línea que no solo vendiera productos electrónicos de calidad, sino que también ofreciera un espacio para compartir opiniones y reseñas de productos.</p>
					<hr />
					<h6 class="card-subtitle mb-2 text-muted">Invitación</h6>
					<p class="card-text text-white2">Estoy muy orgulloso de esta página web y espero que les guste tanto como a mí. Estoy comprometido a seguir mejorando y actualizando nuestra plataforma para ofrecer a nuestros clientes la mejor experiencia posible en línea. Gracias por visitar nuestra página y espero que encuentren lo que están buscando.</p>
				</div>
			</div>
			<div class="col-md-6">
				<img src="/media/images/contact/ownerjulio.jpg" class="card-img" alt="..." />
			</div>
			
		</div>
	</div>
</div>

{% endblock %}
