{% extends 'base.html' %} {% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
<div class="button-center">
	<a href="javascript:void(0);" onclick="window.history.back();"><h1><< {{ article.title }}</h1></a>
</div>
<div class="container-fluid centered">
	<div class="card-detail">
		<div class="row">
			<div class="col-md-6" style="width: 600px">
				<div class="card-body">
					<div class="text-center">
						{% if article.image %}
						<img class="img-fluid" src="{{ article.image.url }}" alt="{{ article.name }}" style="max-height: 600px" />
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-md-6" style="width: 600px">
				<div class="card-body">
					<label class="text-yellow text-20">Nombre:</label>
					<p class="text-aqua text-20">{{ article.title }}</p>
					<label class="text-yellow text-20">Descripcion:</label>
					<p class="text-aqua text-20">{{ article.description }}</p>
					<label class="text-yellow text-20">Stock:</label>
					<p class="text-aqua text-20">{{ article.stock }}</p>
					<label class="text-yellow text-20">SKU:</label>
					<p class="text-aqua text-20">{{ article.sku }}</p>
					{% load humanize %}
					<label class="text-yellow text-20">Precio:</label>
					<p class="text-aqua text-20">${{ article.price|floatformat:0|intcomma }} CLP</p>

					<label class="text-yellow text-20">Categoria:</label>
					<p class="text-aqua text-20">{% for category in article.category.all %} {{ category.name }} {% endfor %}</p>
					<label class="text-yellow text-20">Tags:</label>
					<p class="text-aqua text-20">{% for tag in article.tag.all %} {{ tag.name }}, {% endfor %}</p>

					<label class="text-yellow text-20">Creado el:</label>
					<p class="text-aqua text-20">{{ article.created_at }}</p>
					<label class="text-yellow text-20">Actualizado el:</label>
					<p class="text-aqua text-20">{{ article.updated_at }}</p>
					{% if request.user.is_superuser %}
					<label><a class="text-20" href="{% url 'article_edit' article.id %}">Editar</a></label>
					<label><a class="text-20" href="{% url 'article_delete' article.id %}" onclick="return confirm('¿Estás seguro que quieres eliminar este articulo?');">Eliminar</a></label>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="card-title mt-2 d-flex justify-content-between align-items-center">
				<h5 class="text-green">OPINIONES</h5>
				<div class="col-auto">
					<button type="button" class="btn cyberpunk-blue-button" data-bs-toggle="modal" data-bs-target="#reviewModal">Dejar una opinión</button>
				</div>
			</div>
			<div class="card-body">
				{% for review in article.reviews.all %}
				<div class="card mb-2 mt-2 mx-auto background-blue-black2" style="min-width: 100px; max-width: 1000px; min-height: 100px; max-height: 300px">
					<div class="card-body p-2">
						<div class="d-flex justify-content-between align-items-center">
							<h5 class="card-title">{{ review.author }}</h5>
							<div class="d-flex align-items-center">
								<span class="me-2 text-orange">{{ review.created_at|date:'d/m/Y' }}</span>
							</div>
						</div>
						<div class="card-text mb-2 ml-2 text-aqua">{{ review.comment }}</div>
						{% if review.rating > 0 %}
						<div class="card-text">
							{% if review.rating >= 1 %}
							<i class="bi bi-star-fill text-yellow"></i>
							{% else %}
							<i class="bi bi-star text-yellow"></i>
							{% endif %} {% if review.rating >= 2 %}
							<i class="bi bi-star-fill text-yellow"></i>
							{% else %}
							<i class="bi bi-star text-yellow"></i>
							{% endif %} {% if review.rating >= 3 %}
							<i class="bi bi-star-fill text-yellow"></i>
							{% else %}
							<i class="bi bi-star text-yellow"></i>
							{% endif %} {% if review.rating >= 4 %}
							<i class="bi bi-star-fill text-yellow"></i>
							{% else %}
							<i class="bi bi-star text-yellow"></i>
							{% endif %} {% if review.rating >= 5 %}
							<i class="bi bi-star-fill text-yellow"></i>
							{% else %}
							<i class="bi bi-star text-yellow"></i>
							{% endif %}
						</div>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content background-blue-black2">
			<div class="modal-header">
				<h5 class="modal-title" id="reviewModalLabel">Ejemplo de modal</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
			</div>
			<form method="post" id="reviewForm">
				<div class="modal-body">
					{% csrf_token %}
					{{ form.as_p }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary">Enviar</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-HVgoPnvA/DLlUGVJT8EiGhaxAkoN4rYBjVjBbeBXa9jOFqpo/63lgcd+V3BvEjh4" crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-GFtoNvNtgRwCcpS4I/H+OJjE53fw2l3q4J+ctbLkGRJlAupRgJpSNG1TUpT65pOV"
	crossorigin="anonymous"
></script>

<script>
	$(document).ready(function () {
		$("#exampleModal").on("shown.bs.modal", function () {
			console.log("El modal se ha mostrado");
		});
	});
</script>

{% endblock %}
