.card {
    background-color: #091833;
    border-radius: 40px;
    box-shadow: 0px 0px 10px cyan;
    max-width: 1000px;
    margin: 20px auto;
}
.list-group-item {
    background-color: #141957;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ff4af0;
}
#user_text {
    color: #00ff00;
}

#user_data {
    color: #ff6600;
}