{% extends 'base.html' %} {% block content %}
<div class="button-center">
	<a href="{% url 'category_list' %}"><h1> << {{ title }}</h1></a>
</div>
<div class="container-fluid centered">
	<div class="card-edit">
		<div class="row">
      <div class="card-body my-4 mx-2">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %} {{ form.as_p }}
          <button class="cyberpunk-button" type="submit">Guardar</button>
          <a class="cyberpunk-button-red"  href="{% url 'category_list' %}">Cancelar</a>
        </form>
      </div>
		</div>
	</div>
</div>
{% endblock %}
