{% extends 'base.html' %} {% block content %}
<h1>Lista de Categorías</h1>

<div class="container mt-2">
  <div class="row d-flex justify-content-center py-2">
    <button class="cyberpunk-button" href="{% url 'product_new' %}">Crear nueva categoría</button>
  </div>
	<div class="row">
		<table border="1" style="border: 3px solid orange">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Destacada</th>
					<th>Orden</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for product in categories %}
				<tr>
					<td>{{ product.name }}</td>
					<td>{{ product.description }}</td>
					<td>{{ product.highlighted }}</td>
					<td>{{ product.order }}</td>
					<td>
						<a href="{% url 'product_detail' product.id %}">Detalles</a>
						<a href="{% url 'product_edit' product.id %}">Editar</a>
						<a href="{% url 'product_delete' product.id %}" onclick="return confirm('¿Estás seguro que quieres eliminar este tag?');">Eliminar</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="/media/styles/style_category_list.css" />
{% endblock %}
